@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
:root {
    --violet : #6C63FF;
    --yellow : #F9A826;
    --white: #fff;
    --black : #333;
    --text-bg: #f5f5f5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: var(--text-bg);
}

.nav-container{
    padding: 10px;
    margin-left: 5%;
}
.title{
    color: var(--violet);
}
.sub-title{
    color: var(--yellow);
}

.container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 100px auto;
    padding: 15px;
    max-width: 960px;
    gap: 15%;

}

.container .login-img{
    height: 100%;
    width: 100%;
}

.log-in{
    text-align: center;
    justify-content: center;
    display: grid;
    box-shadow: 5px 10px 18px #888888;
    width: 120%;
}
h3{
    font-size: 25px;
    margin: auto;
}

form{
    display: grid;
    gap: 10px;
    margin: 5px;
}
.input-field{
    width: 110%;
    padding: 2px;
    padding-left: 5px;
    font-size: medium;
    border: outset 1px;
    border-radius: 5px;
}
form button{
    font-size: medium;
    color: var(--white);
    background-color: var(--violet);
    padding: 2px;
    border: outset;
    border-radius: 5px;
}
form button:hover{
    background-color: var(--yellow);
}

.sign-up{
    font-size: small;
    color: var(--violet);
}

.sign-up{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.sign-up form{
    max-width: 400px;
    padding: 10px;

}

footer{
    background-color: var(--yellow);
}

footer p{
    padding: 10px;
    color: var(--white);
    text-align: center;
}
